body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 20px;
  }
  
  /* ======================== */
  /* 
  Extra idea 2:
  Bold the currently selected item in the move list. 
  */
.current {
  font-weight: bold;
}

/* 
Extra idea 5: 
When someone wins, highlight the three squares that caused the win. 
*/
.win {
  background: #eee;
  animation: opacity 1s 1;
}

@keyframes opacity {
  0% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}